html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*
    login page
*/

.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 92vh;
}


.login-box {
    width: 390px;
    background: linear-gradient(45deg, black, transparent);
    color:white;
    border-radius: 10px;
    overflow: hidden;
}

/***/